<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br>
    <%= f.text_field :logo_url %>
  </div>
  <div class="field">
    <%= f.label :logo_width %><br>
    <%= f.text_field :logo_width %>
  </div>
  <div class="field">
    <%= f.label :logo_height %><br>
    <%= f.text_field :logo_height %>
  </div>
  <div class="field">
    <%= f.label :place_token_top %><br>
    <%= f.text_field :place_token_top %>
  </div>
  <div class="field">
    <%= f.label :place_token_left %><br>
    <%= f.text_field :place_token_left %>
  </div>
  <div class="field">
    <%= f.label :web_address %><br>
    <%= f.text_field :web_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
