<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= logo_url = @sponsor.logo_url %>
</p>

<p>
  <strong>Web address:</strong>
  <%= @sponsor.web_address %>
</p>

<%= button_to 'Add to Event', new_event_sponsor_path(:sponsor_id => @sponsor.id) %>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
<br><br>

<%= @sponsor.htmlize.html_safe %>

